{{ define "main" }}
  {{ .Content }}
  <p class="post-tags">
  {{ range $tagName, $entries := .Site.Taxonomies.tags }}
    {{ if in $.RelPermalink $tagName}}
      <span class="post-tag no-wrap">#{{ $tagName }} ({{ $entries.Count }})</span>
    {{ else }}
      <a href='{{ "/tags/" | relLangURL }}{{ $tagName | urlize }}/' class="post-tag no-wrap">#{{ $tagName }} ({{ $entries.Count }})</a>
    {{ end }}
  {{ end }}
  </p>
  <div>
    {{ range .Pages.ByPublishDate }}
    <div class="post-list-item">
      <a href="{{ .RelPermalink }}"></a>
      <p class="post-meta">
        {{ .Date.Format "2006.01.02" }}
      </p>
      <h2 class="post-link">{{ .Title }}</h2>
    </div>
    {{ end }}
  </div>
  {{ range .Translations }}
    <div class="post-related">
      <h3>{{ .Site.Params.AndMore }}</h3>
      <ul>
      {{ range first 5 .Pages.ByPublishDate }}
        <li>{{ .Date.Format "06.01.02" }}&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}