{{ define "main" }}
  <div class="post-content">
    {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\"></p>" }}
    {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
    {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}
    {{ $altContent }}
  </div>
  <div class="post-related">
    {{ $posts := .Site.RegularPages.Related . | first 5 }}
    {{ $related := .Site.Params.Related }}
    {{ with $posts.ByDate.Reverse }}
    <h3>{{ $related }}</h3>
    <ul>
      {{ range . }}
        <li>{{ .Date.Format "06.01.02" }}&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 2 }}
      <h3>{{ .Site.Params.PreviousAndNext }}</h3>
      <ul>
      {{ with .NextInSection }}
        <li>{{ .Date.Format "06.01.02" }}&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      {{ with .PrevInSection }}
        <li>{{ .Date.Format "06.01.02" }}&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}