{{ define "main" }}
  <p class="post-meta">
  {{ .Date.Format "January 2, 2006" }}
  {{ range .Params.Tags}}
    <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}/'>#{{ . }}</a>
  {{ end }}
  </p>
  <h1 class="post-title">{{ .Title }}</h1>
  {{ .Content }}
  <div class="post-related">
  {{ $posts := .Site.RegularPages.Related . | first 5 }}
  {{ $related := .Site.Params.Related }}
  {{ with $posts.ByDate.Reverse }}
    <h3>{{ $related }}</h3>
    <ul>
      {{ range . }}
        <li><span>{{ .Date.Format "06.01.02" }}</span>&nbsp;<span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span></li>
      {{ end }}
    </ul>
  {{ end }}
    <h3>{{ .Site.Params.PreviousAndNext }}</h3>
    <ul>
    {{ with .NextInSection }}
      <li><span>{{ .Date.Format "06.01.02" }}</span>&nbsp;<span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span></li>
    {{ end }}
    {{ with .PrevInSection }}
      <li><span>{{ .Date.Format "06.01.02" }}</span>&nbsp;<span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span></li>
    {{ end }}
    </ul>
    <div class="social">
      <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
      alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
      <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

      <div class="line-it-button" data-lang="en" data-type="share-a" data-ver="2" data-url="{{ .Permalink }}" style="display: none;"></div>
      <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </div>
  </div>
{{ end }}