$font-family: 'Source Sans Pro', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$large-font-size: 1.3rem;
$base-font-size: 1.0rem;
$small-font-size: 0.85rem;
$large-line-height: 1.7;
$base-line-height: 1.5;
$small-line-height: 1.2;

$white-color: #ffffff;
$gray-color: #f1f3f4;
$black-color: #444444;
$brand-color: #2561a2;

$content-width: 700px;
$on-palm: 530px;
$nav-height: 56px;
$wrapper-padding: 15px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-align: left;
    hyphens: none;
}

h1 {
    font-size: calc(1.2 * #{$large-font-size});
    @include media-query($on-palm) {
        font-size: calc(1.1 * #{$base-font-size});
    }
}

h2 {
    font-size: $large-font-size;
    @include media-query($on-palm) {
        font-size: $base-font-size;
    }
}

h3, h4, h5, h6 {
    font-size: $base-font-size;
}

dl, dd, ol, ul {
    padding-left: 1.5em;
}

pre {
    font-size: $small-font-size;
    border: 1px solid $gray-color;
    padding: 8px;
    overflow-x: scroll;
    border-radius: 0.3rem;
}

code {
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

.highlight {
    pre {
        @include media-query($on-palm) {
            margin-left: calc(-1 * #{$wrapper-padding});
            margin-right: calc(-1 * #{$wrapper-padding});
            padding-left: $wrapper-padding;
            padding-right: $wrapper-padding;
            border: none;
            border-radius: 0;
        }
    }
}

body {
    margin: 0;
    padding: 20px;
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $black-color;
    background-color: $white-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;

    @include media-query($on-palm) {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 $wrapper-padding;
    }
}

blockquote {
    position: relative;
    margin: 0;
    padding: 0.6em 1.0em;
    box-sizing: border-box;
    font-style: italic;
    font-size: $small-font-size;
    color: lighten($black-color, 20%);
    border-left: 4px solid lighten($brand-color, 30%);

    @include media-query($on-palm) {
        margin-left: calc(-1 * #{$wrapper-padding});
        margin-right: calc(-1 * #{$wrapper-padding});
    }
}

blockquote p {
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;

    @include media-query($on-palm) {
        width: calc(100% + 2 * #{$wrapper-padding});
        margin-left: calc(-1 * #{$wrapper-padding});
        margin-right: calc(-1 * #{$wrapper-padding});
    }
}

tr:nth-child(odd) {
    @include media-query($on-palm) {
        background: $gray-color;
    }
}

td {
    @include media-query($on-palm) {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

td:nth-child(1) {
    width: 80px;
}

td:nth-child(2) {
    padding-right: #{$wrapper-padding};
}

.no-wrap {
    display: inline-block;
}

.profile {
    @include media-query($on-palm) {
        text-align: center;
    }
}

.invisible {
    display: none;
}

twitter-widget {
    margin: 10px auto;
}

.content {
    h2:first-child {
        margin-top: 0;
    }

    a {
        color: $brand-color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
}

.lang-ja {
    p, li {
        line-height: $large-line-height;
    }
}

img {
    max-height: $on-palm;
    max-width: 100%;
    display: inline-block;
}

figure {
    text-align: center;
    margin-left: 0;
    margin-right: 0;

    @include media-query($on-palm) {
        max-width: calc(100% + 2 * #{$wrapper-padding});
        margin-left: calc(-1 * #{$wrapper-padding});
        margin-right: calc(-1 * #{$wrapper-padding});
    }
}

.wrapper {
    position: relative;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
}

.site-header {
    margin-bottom: 40px;
    min-height: $nav-height;

    @include media-query($on-palm) {
        text-align: center;
        border-bottom: none;
    }
}

.nav-line {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: $black-color;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }
}

.nav-active {
    @extend .nav-line;
    &::after {
        transform: scale(1, 1);
    }
}

.nav-hover {
    @extend .nav-line;
    &:hover::after {
        transform: scale(1, 1);
    }
}

.logo-container {
    line-height: $nav-height;
    display: inline-block;
}

.logo {
    color: $black-color;
    line-height: $base-line-height;
}

.nav-container {
    float: right;
    padding-right: 80px;
    line-height: $nav-height;
    z-index: 10;
    background-color: $white-color;

    @include media-query($on-palm) {
        float: none;
        padding-right: 0;
        line-height: $base-line-height;
        font-size: $small-font-size;
    }
}

.page-link {
    color: $black-color;
    line-height: $base-line-height;
    margin-left: 6px;
    margin-right: 6px;
}

#language-switch {
    // https://codepen.io/himalayasingh/pen/EdVzNL

    position: absolute;
    top: 30px;
    right: 0;

    .knobs, .layer
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button {
        position: relative;
        top: 50%;
        width: 74px;
        height: 36px;
        margin: -20px auto 0 auto;
        overflow: hidden;
        border-radius: 2px;
    }

    .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs {
        z-index: 2;
    }

    .layer {
        width: 100%;
        background-color: $gray-color;
        transition: 0.3s ease all;
        z-index: 1;
    }

    #button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span {
        position: absolute;
        top: 4px;
        width: 20px;
        height: 10px;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
        padding: 9px 4px;
        border-radius: 2px;
        transition: 0.3s ease all;
    }

    #button-10 .knobs:before {
        content: '';
        left: 4px;
        background-color: lighten($brand-color, 20%);
    }

    #button-10 .knobs:after {
        content: 'ã‚';
        right: 4px;
        color: $black-color;
    }

    #button-10 .knobs span {
        display: inline-block;
        left: 4px;
        color: $white-color;
        z-index: 1;
    }

    #button-10 .checkbox:checked + .knobs span {
        color: $black-color;
    }

    #button-10 .checkbox:checked + .knobs:before {
        left: 42px;
    }

    #button-10 .checkbox:checked + .knobs:after {
        color: $white-color;
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}

.site-footer {
    padding: 20px 0;
    font-size: $small-font-size;
    text-align: center;

    a {
        color: $brand-color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 20px 0;
    border-radius: 0.3rem;
    z-index: 1;
    -webkit-transition: all .2s;
    transition: all .2s;

    &:hover {
        // color: $white-color;
        background-color: $gray-color;
        -webkit-transition: all .1s;
        transition: all .1s;
    }

    a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
    }

    @include media-query($on-palm) {
        flex-direction: column;
        box-shadow: 0 1px 4px rgba(0,0,0,.04), inset 0 0 0 1px rgba(0,0,0,.09);
    }
}

.card-img-container {
    position: relative;
}

.card-img {
    border-radius: 0.3rem 0 0 0.3rem;
    height: 100%;
    width: 15em;
    max-width: unset;
    object-fit: cover;

    @include media-query($on-palm) {
        border-radius: 0.3rem 0.3rem 0 0;
        max-height: 16em;
        width: 100%;
    }
}

.card-body {
    padding: 1.5em 1.3em;
}

.card-title {
    margin: 0;
    line-height: $small-line-height;
}

.card-text {
    margin: 0.5em 0;
    text-align: justify;
}

.post-list-item{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;

    &:hover {
        // color: $white-color;
        background-color: $gray-color;
        -webkit-transition: all .1s;
        transition: all .1s;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .list-img {
        position: relative;
        width: 2em;
        height: 2em;
        padding: 10px;
        object-fit: contain;
        border-radius: 0.3rem;
        background-color: $gray-color;
    }

    .list-body {
        margin-left: 10px;
    }

    @include media-query($on-palm) {
        margin-left: calc(-1 * #{$wrapper-padding});
        margin-right: calc(-1 * #{$wrapper-padding});
        border-top: 1px solid $gray-color;

        &:last-child {
            border-bottom: 1px solid $gray-color;
        }
    }
}

.post-title {
    margin: 0 0 1.5em 0;
    line-height: $small-line-height;

    @include media-query($on-palm) {
        padding-left: 0px;
    }
}

.post-meta {
    font-size: $small-font-size;
    margin: 0;
    padding-left: 1px;
}

.post-tags {
    font-size: $small-font-size;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;;
}

.post-tag {
    margin-right: 8px;
}

.post-link {
    font-size: $base-font-size;
    display: block;
    line-height: $small-line-height;

    @include media-query($on-palm) {
        font-size: $small-font-size
    }
}

.post-related {
    background-color: #f7f9f9;
    margin-top: 40px;
    padding: 16px 24px;
    border-radius: 0.3rem;

    h3 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    ul {
        margin-top: 4px;
        margin-bottom: 8px;
        list-style-type: none;
        padding-left: 0;
    }

    li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: $large-line-height;
    }

    @include media-query($on-palm) {
        padding: 12px $wrapper-padding;
        margin-left: calc(-1 * #{$wrapper-padding});
        margin-right: calc(-1 * #{$wrapper-padding});
    }
}

.social {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 8px;
}

.fb_iframe_widget > span {
    vertical-align: baseline !important;
}

.line-it-button {
    margin-left: 4px;
}

img.image-portrait{
    max-width: 100%;
    position: relative;
    display: block;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 5px #ebebeb;
    -webkit-box-shadow: 0 0 5px #ebebeb;
    -moz-box-shadow: 0 0 5px #ebebeb;
    -o-box-shadow: 0 0 5px #ebebeb;
    -ms-box-shadow: 0 0 5px #ebebeb;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-size: contain;

    @include media-query($on-palm) {
        max-width: 96%;
    }
}

.footnotes{
    font-size: 12px;

    hr {
        display: none;
    }
}