<header class="site-header">
  <div class="wrapper">
    <div class="logo-container">
      <a href="{{ .Site.BaseURL | relLangURL }}" class='logo {{ if or (eq $.RelPermalink "/") (eq $.RelPermalink "/ja/") }}nav-active{{ else }}nav-hover{{ end }}'>{{ .Site.Title }}</a>
    </div>
    <nav class="nav-container">
      <div class="trigger">
        {{ range .Site.Params.Navigation }}
          {{ $link := (printf "/%s/" .name) }}
          {{ if eq $link "/posts/"}}
            <a class='page-link {{ if or (in $.RelPermalink $link) (in $.RelPermalink "/tags/") }}nav-active{{ else }}nav-hover{{ end }}' href='{{ $link | relLangURL }}'>{{ .display }}</a>
          {{ else }}
            <a class='page-link {{ if in $.RelPermalink $link }}nav-active{{ else }}nav-hover{{ end }}' href='{{ $link | relLangURL }}'>{{ .display }}</a>
          {{ end }}
        {{ end }}
      </div>
      {{ if .IsTranslated }}
        {{ range .Translations }}
          <div id="language-switch" onclick="setTimeout(() => window.location.href={{ .RelPermalink | absURL }}, 300)">
        {{ end }}
      {{ else }}
        <div id="language-switch" class="disabled">
      {{ end }}
        <div class="button" id="button-10">
          <input type="checkbox" class="checkbox" {{ if eq .Site.Language.Lang "ja" }}checked{{end}}>
          <div class="knobs"><span>EN</span></div>
          <div class="layer"></div>
        </div>
      </div>
    </nav>
  </div>
</header>