<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" href="https://plus.google.com/u/0/102413339779614193497/posts" />

  {{ $title := (printf "%s - %s" .Title .Site.Title ) }}

  {{ if isset .Params "keywords" }}
    <meta name="keywords" content='{{ delimit .Keywords ", " }}' />
  {{ end }}

  {{ $description := ""}}
  {{ if eq .Description "" }}
    {{ $description = .Summary }}
  {{ else }}
    {{ $description = .Description }}
  {{ end }}

  {{ $eyecatch := ""}}
  {{ if isset .Params "eyecatch" }}
    {{ $eyecatch = .Params.Eyecatch | absURL }}
  {{ else }}
    {{ $eyecatch = .Site.Params.Eyecatch | absURL }}
  {{ end }}

  <meta name="description" content="{{ $description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@shoya140" />
  <meta name="twitter:creator" content="@shoya140" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:image" content="{{ $eyecatch }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ $eyecatch }}" />
  <meta property="og:description" content="{{ $description }}" />
  <title>{{ $title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" href='{{ "favicon.ico" | absURL }}' />
  <link rel="search" type="application/opensearchdescription+xml" title="shoya.io" href='{{ "opensearch.xml" | absURL }}'>
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ $sass := resources.Get "css/main.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="/css/syntax.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>