<header class="site-header">
  <div class="wrapper">
    <div class="logo-container">
      <a href="{{ .Site.BaseURL | relLangURL }}" class='logo {{ if or (eq $.RelPermalink "/") (eq $.RelPermalink "/ja/") }}nav-active{{ else }}nav-hover{{ end }}'>{{ .Site.Title }}</a>
    </div>
    <nav class="nav-container">
      <div class="trigger">
        {{ range .Site.Params.Navigation }}
          {{ $link := (printf "/%s/" .name) }}
          <a class='page-link {{ if in $.RelPermalink $link }}nav-active{{ else }}nav-hover{{ end }}' href='{{ $link | relLangURL }}'>{{ .display }}</a>
        {{ end }}
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <a class="language-icon nav-hover" href="{{ .RelPermalink }}"><img src="/img/icon_language.svg" /></a>
          {{ end }}
        {{ else }}
          <a class="language-icon disabled-icon" href="#"><img src="/img/icon_language.svg" /></a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>